---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="mt-10 flex flex-col items-center" >
		<h1 class="font-bold text-4xl" >LAPD Intranet</h1>
	
		<nav class="flex flex-col items-center" >
			<a href="/" class="text-2xl" >Home</a>
			<a href="/cases" class="text-2xl">Cases</a>
			<a href="/contacts" class="text-2xl">CIC</a>
		</nav>
	</main>
</Layout>
